# Base de données
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=bravia
DB_PASSWORD=bravia_pass
DB_DATABASE=bravia_hotel_db

# JWT
JWT_SECRET=changez_ce_secret_en_production
JWT_EXPIRES_IN=24h

# Application
PORT=3001
